table {
  width: 100%;
}

.players-action {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.player-form {
  margin-bottom: 10px;
}

.mat-form-field {
  margin-right: 20px;
}

.action-icon {
  * {
    cursor: pointer;
    margin: 0 5px;
  }
  .edit {
    color: #3f51b5;
  }
  .delete {
    color: #f44336;
  }
}
