/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-container {
  margin: 0 auto;
  width: 100%;
}

.page-container {
  margin: 20px;
  h2 {
    color: #3f51b5;
  }
}
